@mixin displayFlex($direction, $justifyCont, $alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyCont;
    align-items: $alignItems;
}

@mixin icon($width, $height, $url1, $url2) {
    width: $width;
    height: $height;
    background: url($url1) no-repeat;
    background-size: cover;
    &:hover {
        background: url($url2) no-repeat;
        background-size: cover;
    }
}