$textColor: rgb(51, 51, 51);
$headerTextColor: rgb(0, 0, 0);
$hoverColor: rgb(82, 201, 236);
$bgColor: rgb(239, 236, 233);
$gredientColorFrom: rgb(0, 208, 255);
$gredientColorTo: rgb(21, 173, 255);
$fw-bold: 900;

$mainFontFamily: 'Lato', sans-serif;